@font-face {
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: local('Unica One'), local('UnicaOne-Regular'), url(unica.woff2) format('woff2'), url(unica.woff) format('woff');
}

svg text { 
    font-family: 'Unica One'; 
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    /*height: 60px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.form-box .body.bg-black {
    background: rgba(0, 0, 0, 0.5) !important;
}

.login-bg {
    background: url("../img/login-bg.jpg") fixed;
    background-size: cover;
}

.login-bg .logo {
    text-align: center;
    margin: auto;
}


.box-widget {
  border: none;
  position: relative;
}
.widget-info .widget-info-header {
  padding: 20px;
  height: 120px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget-info .widget-info-infoname {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.widget-info .widget-info-desc {
  margin-top: 0;
}
.widget-info .widget-info-image {
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -45px;
}
.widget-info .widget-info-image > img {
  width: 90px;
  height: auto;
  border: 3px solid #fff;
}
.widget-info .box-footer {
  padding-top: 30px;
}
.widget-info-2 .widget-info-header {
  padding: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget-info-2 .widget-info-infoname {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
}
.widget-info-2 .widget-info-desc {
  margin-top: 0;
}
.widget-info-2 .widget-info-infoname,
.widget-info-2 .widget-info-desc {
  margin-left: 0px;
}
.widget-info-2 .widget-info-image > img {
  width: 65px;
  height: auto;
  float: left;
}

.help-block {
    display: block;
    margin-top: -5px;
}